@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<ClinicDeskApplication.Models.Schedules>
<style>
    body {
        background-image: url("https://i0.wp.com/ese224.seas.upenn.edu/wp-content/uploads/2018/11/background-website-light-blue-wallpapers-background-2.jpg?ssl=1");
        background-size: cover
    }

    .button1 {
        background-color: white;
        color: red;
        border: groove;
        padding: 10px 20px;
        border-color: red;
    }

        .button1:hover {
            background-color: red;
            color: white;
            border: white;
        }
    .button {
        background-color: cornsilk;
        padding: 10px 20px;
        color: darkblue;
        border: groove;
    }
    .button:hover {
        background-color: darkblue;
        color: white;
        border: white;
    }
</style>

<header>

    <div style="background-color:bisque">





        <table cellpadding="10" align="center" style="background-color:lightgoldenrodyellow">

            <tr>
                <td><b>Navigation menu</b></td>
                <td>
                    @using (Html.BeginForm("DoctorAdd", "Home", FormMethod.Post))

                    {
                        <button class="button" type="submit" name="AddDoctor">Add Doctor</button>
                    }
                </td>








                <td>
                    @using (Html.BeginForm("PatientAdd", "Home", FormMethod.Post))

                    {
                        <button class="button" type="submit" name="AddDoctor">Add Patient</button>
                    }
                </td>







                <td>
                    @using (Html.BeginForm("Scheduleapp", "Home", FormMethod.Post))

                    {
                        <button class="button" type="submit" name="AddDoctor">Schedule Appointments</button>
                    }
                </td>






                <td style="background-color:deepskyblue">
                    @using (Html.BeginForm("Viewappoint", "Home", FormMethod.Post))

                    {
                        <button class="button" type="submit" name="AddDoctor">View Appointments</button>
                    }
                </td>


                <td>
                    @using (Html.BeginForm("Index", "Home", FormMethod.Post))

                    {
                        <button class="button1" type="submit" name="AddDoctor">Log Out</button>
                    }
                </td>


            </tr>

        </table>
    </div>
    </header>
    <body>
        <table class="table">

            <tr>

                <th>@Html.DisplayName("AppointmentID")</th>
                <th>@Html.DisplayName("Patient")</th>
                <th>@Html.DisplayName("Specializations")</th>
                <th>@Html.DisplayName("DoctorName")</th>
                <th>@Html.DisplayName("VisitDate")</th>
                <th>@Html.DisplayName("AppointmentTime")</th>
            </tr>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelitem => item.AppointmentID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => item.patientName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => item.Specializations)
                        </td>
                        <td>
                            Dr. @Html.DisplayFor(modelitem => item.DoctorName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => item.VisitDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => item.AppointmentTime)
                        </td>
                        <td>
                            <a asp-action="CancelAppmnt" asp-route-id="@item.AppointmentID">Cancel Appointment</a>
                        </td>
                    </tr>
                 }
            </tbody>
            <tr>
                <td>
                    <input type="button" value="Home" onclick="location.href = '@Url.Action("HomePage","Home")'" class="btn btn-primary" />
                </td>
                <td>
                    <input type="button" value="Log-out" onclick="location.href = '@Url.Action("Index","Home")'" class="btn btn-danger" />
                </td>
            </tr>
        </table>
    </body>
